.feedback-section {
  display: flex;
  justify-content: space-between;
  color: #636363;
  font-size: 20px;

  &__likes {
    display: flex;
    gap: 12px;

    & > *:hover {
      color: #000;
      transition: 0.4s ease;
    }

    & > * {
      cursor: pointer;
    }
  }

  &__saves {
    display: flex;
    gap: 12px;

    & > * {
      cursor: pointer;
    }

    & > *:hover {
      color: #000;
      transition: 0.4s ease;
    }
  }
}
